<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
    <script>
        async function sendReq(url, method, headers = null, data = null) {
            const options = { method: method, headers: { "Content-type": "application/json", ...headers } }
            if (method != "GET" && data != null) options.body = JSON.stringify(data);
            const res = await fetch(url, options)
            const text = await res.text()
            return text;
        }
        async function kys() {
            const result = await sendReq('http://localhost:3000/administration/logout', "POST", null, null);
            window.location.assign('/')
        }

        async function addUser() {
            const username = document.getElementById("user").value
            const result = await sendReq('http://localhost:3000/administration/adduser', "POST", null, { username });
            document.getElementById("userRes").innerText = JSON.stringify(result)

        }
    </script>
</head>

<body>
    <h1>ADMINISTRACEEEE</h1>
    <p>new user: <input id="user" type="text"></p>
    <button onclick="addUser()">create user</button>
    <p id="userRes"></p>
    <button onclick="kys()">logout</button>
</body>

</html>