<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shop</title>
    <link href="/resources/css" rel="stylesheet">
    <link href="/resources/maincss" rel="stylesheet">
    <script>
        async function sendReq(url, method, headers = null, data = null) {
            const options = { method: method, headers: { "Content-type": "application/json", ...headers } }
            if (method != "GET" && data != null) options.body = JSON.stringify(data);
            const res = await fetch(url, options)
            const text = await res.text()
            return text;

        }
        let products;
        document.addEventListener('DOMContentLoaded', async () => {
            products = await sendReq('/api/products', 'GET');
            console.log(products);
        })
        const product1 = products[0];
        const product2 = products[1];
        const product3 = products[2];
    </script>
</head>

<body class="m-0 p-0 bg-dark">

    <header class="h-screen w-full flex justify-center items-center flex-col relative bg-black"
        style="background-image: linear-gradient(rgba(255, 255, 255, 0), #151515), url('/images/main'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <h1 class="text-8xl font-bold text-light z-10" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">
            HEADUCT
        </h1>
        <p class="text-3xl font-bold text-light z-10 mt-4" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">
            The future of headwear awaits.
        </p>
    </header>


    <main class="w-screen flex justify-center items-center">
        <section id="glass" class="max-w-screen-xl my-4 w-11/12 p-8">
            <div id="about">
                <h2 class="text-3xl pb-4">About our company</h2>
                <p class="pb-2">At HEADUCT, we're not just a company. We're innovators at the forefront of headwear
                    fashion and technology. Founded by a team of passionate designers and tech enthusiasts, we embarked
                    on a mission to revolutionize the way people think about headgear.</p>
                <p>Our journey began with a simple question:
                    <span class="italic">Why does headwear have to be mundane?</span> This led us down the
                    path of creativity and innovation, crafting a line of products that are not only stylish but also
                    infused with cutting-edge technology.
                </p>
                <div class="flex justify-around my-12">
                    <div class="max-w-72 p-4" id="glass">
                        <h3 class="text-xl pb-2 text-primary">
                            Innovation at the Core
                        </h3>
                        <p>Our collection ranges from smart hats that keep you connected, to eco-friendly caps made from
                            sustainable materials. We believe that your headwear should make a statement, reflect your
                            personality, and offer functionality that fits your lifestyle.</p>
                    </div>
                    <div class="max-w-72 p-4" id="glass">
                        <h3 class="text-xl pb-2 text-primary">
                            Sustainability Meets Style
                        </h3>
                        <p>We are committed to reducing our environmental footprint. Our sustainable line uses recycled
                            materials, ensuring that fashion and responsibility go hand in hand. We are not just making
                            headwear. We are making a difference.</p>
                    </div>
                    <div class="max-w-72 p-4" id="glass">
                        <h3 class="text-xl pb-2 text-primary">
                            For Every Head and Every Occasion
                        </h3>
                        <p>Whether you are an athlete looking for performance gear, a tech-lover excited about wearable
                            technology, or simply someone who appreciates quality and style, HEADUCT has something for
                            you.</p>
                    </div>
                </div>
                <p class="text-xl text-right">HEADUCT – Wear the Future</p>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>

</html>