<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css">
</head>

<body class="bg-dark flex h-screen w-screen">
    <div class="m-auto pl-8">
        <h1 class="text-8xl text-primary text-center pb-2">404</h1>
        <p class="text-light text-xl">We've Searched High and Low, But This Page Isn't In-HEADUCT-able.</p>
        <p class="text-primary text-center pt-2 underline"><a href="/">Find Your Way Back - Head to Our Homepage.</a>
        </p>
    </div>
</body>

</html>